/* public/css/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    margin-top: 20px;
}

input[type="text"], input[type="submit"], button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 10px;
}

input[type="text"] {
    width: 70%;
}

button, input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover {
    background-color: #0056b3;
}

.title, .subtitle {
    text-align: center;
    margin: 10px 0;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust the gap as needed */
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}

.login-button, .signup-button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}